<nav class="nav-container">
  <mat-list class="nav-list">
    <div class="nav-item" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </div>

    <div class="nav-item" routerLink="/aichat" routerLinkActive="active">
      <mat-icon>chat_bubble_outline</mat-icon>
      <span>Conversations</span>
    </div>

    <div class="nav-item" routerLink="/account" routerLinkActive="active">
      <mat-icon>account_circle</mat-icon>
      <span>Account</span>
    </div>
  </mat-list>
</nav>